.result{
    text-align: center;
    font-size: xx-large;
}
button {
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    font-size: larger;
    color: gray;
  }