.home {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 30px;
}
.start {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-top: 30%;
  color: gray;

}
.start button {
  width: 200px;
  height: 50px; 
  border-color: pink;
  background-color: white;
  border-radius: 10px;
  font-size: larger;
  color: gray;
}
.start input{
    width: 50px;
    height: 40px; 
    margin-left: 20px;
    border-color: pink;
  background-color: white;
  border-radius: 10px;
  font-size: larger;
  color: gray;
}

